.container {
  overflow-y: auto;
  // height: calc(100vh - 180px);
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
  }
}
.header {
  display: flex;
  margin-bottom: 20px;
  .left {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .right {
    flex: 1;

    display: flex;
    justify-content: end;
    align-items: center;
    text-align: right;
    h3 {
      font-size: 30px;
      font-weight: 700;
    }
  }
}

.content {
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}
